ITypedListImpImplementation/Service References/SimpleWCF/SimpleWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SimpleWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SimpleWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="DataWrapper">
    <xs:sequence>
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="Value" nillable="true" type="q1:Stream" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataWrapper" nillable="true" type="tns:DataWrapper" />
</xs:schema>